In [1]:
#create dictionary

mydict = {'name':'rohit','age':28,'institute':'naresh it','location':'hyderabad'}
print(mydict)
print(type(mydict))
print(len(mydict))

{'name': 'rohit', 'age': 28, 'institute': 'naresh it', 'location': 'hyderabad'}
<class 'dict'>
4

In [2]:
mydict = dict({1:'one' , 2:'two' , 3:'three'}) # Create dictionary using dict()
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [3]:
mydict.keys() #returns keys using keys method

dict_keys([1, 2, 3])

In [4]:
mydict.values() #returns values using value method

dict_values(['one', 'two', 'three'])

In [5]:
mydict.items() #return items using items method

dict_items([(1, 'one'), (2, 'two'), (3, 'three')])

In [6]:
keys = {'a','b','c','d'}
print(keys)

{'c', 'b', 'a', 'd'}

In [16]:
#create a dictionary from sequence of keys

keys1 = {27,48,39,36}
mydict2 = dict.fromkeys(keys1)
print(mydict2)
print(type(mydict2))
trainingprogram = {'Full stack data science and ai','java full stack','data analytics','devops with aws'}
institute = ['naresh i technologies']
mydict3 = dict.fromkeys(trainingprogram,institute)
print(mydict3)

{48: None, 27: None, 36: None, 39: None}
<class 'dict'>
{'devops with aws': ['naresh i technologies'], 'data analytics': ['naresh i technologies'], 'Full stack data science and ai': ['naresh i technologies'], 'java full stack': ['naresh i technologies']}

In [25]:
#accessing items

dict1 = {0:'zero',1:'one',2:'two',3:'three',4:'four',5:'five'}
print(type(dict1))
print(dict1[0])
print(dict1[1])
print(dict1[5])

<class 'dict'>
zero
one
five

In [26]:
mydict.get(2) #access element using get method

'two'

In [27]:
mydict.get(3)

'three'

In [31]:
mydict.get(1)

'one'

In [32]:
mydict.get(-1) #there is -1 in dictionary. whatever number you mention you can access with that number only

In [35]:
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [36]:
mydict.get(1)

'one'

In [37]:
mydict.get(0)

In [38]:
mydict.get(3)

'three'

In [46]:
dict1 = {'Name':'Rohit','Age':28,'Place':'India'}
print(dict1)
print(type(dict1))
print(dict1['Age'])
print(dict1['Place'])
print(dict1['Name'])

{'Name': 'Rohit', 'Age': 28, 'Place': 'India'}
<class 'dict'>
28
India
Rohit

In [48]:
del[dict1['Age']] #delete a section using del method

In [49]:
print(dict1)

{'Name': 'Rohit', 'Place': 'India'}

In [50]:
del[dict1['Name']]

In [52]:
dict1 #see since we deleted both age and name as shown above now only place is left out in dict1 dictionary

{'Place': 'India'}

In [54]:
dict2 = dict1

In [55]:
dict2

{'Place': 'India'}

In [56]:
dict2 = {'Name':'Rohit'}
print(type(dict2))

<class 'dict'>

In [57]:
dict2

{'Name': 'Rohit'}

In [60]:
dict2 ['Job'] = 'Senior data scientist'

In [61]:
dict2

{'Name': 'Rohit', 'Job': 'Senior data scientist'}

In [62]:
dict2['Company'] = 'JP morgan'
print(dict2)

{'Name': 'Rohit', 'Job': 'Senior data scientist', 'Company': 'JP morgan'}

In [64]:
dict2.popitem() #removes the last element in the dictionary

('Company', 'JP morgan')

In [65]:
dict2 #now see the result below

{'Name': 'Rohit', 'Job': 'Senior data scientist'}

In [66]:
dict2.clear() #deleting the dictionary

In [67]:
dict2

{}

In [68]:
mydict1 = mydict #copying dictionary

In [69]:
mydict1

{1: 'one', 2: 'two', 3: 'three'}

In [70]:
mydict #see the result below now. same as dict1. hence it's copied

{1: 'one', 2: 'two', 3: 'three'}

In [75]:
#loop through a dictionary

mydict = {'name':'sachin','city':'mumbai','location':'west ghatkopar','state':'maharashtra','age':29}
for x in mydict:
    print(x, ':', mydict[x]) #this will return the entire dictionary in proper view

name : sachin
city : mumbai
location : west ghatkopar
state : maharashtra
age : 29

In [79]:
for x in mydict:
    print(mydict[x]) #this will return items in the dictionary

sachin
mumbai
west ghatkopar
maharashtra
29

In [81]:
'name' in mydict #this will return true because dictionary will return only keys not items

True

In [82]:
'sachin' in mydict #this wont return items as told above

False

In [83]:
'id' in mydict #because there is no id in the dictionary among keys it will return false

False

In [84]:
all(mydict) # Will Return false as one value is false (Value 0)

True

In [87]:
id(mydict) #checking the id of our dictionary mydict

2801950958720