In [1]:
txt = "abc edf ghi"

In [2]:
txt

'abc edf ghi'

In [3]:
txt.strip()

'abc edf ghi'

In [4]:
mystr = "my favourite tv series is game of thrones"
mystr.strip()

'my favourite tv series is game of thrones'

In [6]:
mystr

'my favourite tv series is game of thrones'

In [7]:
mystr.strip()

'my favourite tv series is game of thrones'

In [17]:
#list creation

list1 = [] #empty list
print(list1)
list2 = [30,60,90]
list3 = [10.60,77,999]
print(list2)
print(list3)
list4 = ['one','two','three']
print(list4)
list5 = [100,'rohit',6.7]
print(list5)
list6 = [[100,'rohit',55.6],['asif',99.0,88],[-1,5.6,'prakash']]
print(list6)
print(list1)
print(list2)
print(list3)
print(list4)
print(list5)
print(list6)
print(list2[2])
print(list3[1])
print(list4[2])
print(list5[1])
print(list6[-1])

[]
[30, 60, 90]
[10.6, 77, 999]
['one', 'two', 'three']
[100, 'rohit', 6.7]
[[100, 'rohit', 55.6], ['asif', 99.0, 88], [-1, 5.6, 'prakash']]
[]
[30, 60, 90]
[10.6, 77, 999]
['one', 'two', 'three']
[100, 'rohit', 6.7]
[[100, 'rohit', 55.6], ['asif', 99.0, 88], [-1, 5.6, 'prakash']]
90
77
three
rohit
[-1, 5.6, 'prakash']

In [27]:
mylist = ['papaya','mango','apple','kiwi','orange','grapes','jack','banana','pineapple','sapota']
print(mylist)
print(mylist[0:3]) #return first three elements in the list
print(mylist[:3]) #return first three elements in the list
print(mylist[2:5]) #returns elements from 3rd to 5th in the list
print(mylist[3:7]) #returns elements from 4th to 7th in the list
print(mylist[:5]) #return first five elements in the list
print(mylist[:7]) #return first seven elements in the list
print(mylist[-4:]) #returns the last 4th to last element
print(mylist[:-4]) #returns everything except last 4 elements in the list
print(mylist[:-3]) #returns everything except last 3 elements in the list
print(mylist[:-2]) #returns everything except last 2 elements in the list
print(mylist[-1]) #returns the last element in the list
print(mylist[:]) #returns the whole list

['papaya', 'mango', 'apple', 'kiwi', 'orange', 'grapes', 'jack', 'banana', 'pineapple', 'sapota']
['papaya', 'mango', 'apple']
['papaya', 'mango', 'apple']
['apple', 'kiwi', 'orange']
['kiwi', 'orange', 'grapes', 'jack']
['papaya', 'mango', 'apple', 'kiwi', 'orange']
['papaya', 'mango', 'apple', 'kiwi', 'orange', 'grapes', 'jack']
['jack', 'banana', 'pineapple', 'sapota']
['papaya', 'mango', 'apple', 'kiwi', 'orange', 'grapes']
['papaya', 'mango', 'apple', 'kiwi', 'orange', 'grapes', 'jack']
['papaya', 'mango', 'apple', 'kiwi', 'orange', 'grapes', 'jack', 'banana']
sapota
['papaya', 'mango', 'apple', 'kiwi', 'orange', 'grapes', 'jack', 'banana', 'pineapple', 'sapota']

In [33]:
#Add , Remove & Change Items

mylist = ['papaya','mango','apple','kiwi','orange','grapes','jack','banana','pineapple','sapota']
print(mylist)
mylist.append('pomegranete') #add one more item to the list
print(mylist)
mylist.pop() #remove last element of the list
print(mylist) #see pomegranete which we added is removed
mylist.pop(8) #remove 8th element of the list
print(mylist)

['papaya', 'mango', 'apple', 'kiwi', 'orange', 'grapes', 'jack', 'banana', 'pineapple', 'sapota']
['papaya', 'mango', 'apple', 'kiwi', 'orange', 'grapes', 'jack', 'banana', 'pineapple', 'sapota', 'pomegranete']
['papaya', 'mango', 'apple', 'kiwi', 'orange', 'grapes', 'jack', 'banana', 'pineapple', 'sapota']
['papaya', 'mango', 'apple', 'kiwi', 'orange', 'grapes', 'jack', 'banana', 'sapota']

In [34]:
mylist[0]

'papaya'

In [36]:
mylist.clear()

In [37]:
mylist

[]

In [38]:
#list is now cleared. its an empty list.

In [43]:
#copy list

mylist = ['papaya','mango','apple','kiwi','orange','grapes','jack','banana','pineapple','sapota']
mylist2 = mylist.copy() #this is how we copy lists
print(mylist2)
print(id(mylist2))

['papaya', 'mango', 'apple', 'kiwi', 'orange', 'grapes', 'jack', 'banana', 'pineapple', 'sapota']
2594858005120

In [44]:
#output is now ready as seen above

In [49]:
#join lists

list1 = ['one','two','three','four','five']
list2 = ['six','seven','eight','nine','ten']
list3 = list1 + list2
print(list3)
print(list2)
print(list1)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']
['six', 'seven', 'eight', 'nine', 'ten']
['one', 'two', 'three', 'four', 'five']

In [50]:
'ten' in list1

False

In [51]:
'ten' in list3

True

In [52]:
'ten' in list2

True

In [53]:
if 'three' in list1:
    print('yes three is there in list1')
else:
    print('no three is not there in list1')

yes three is there in list1

In [55]:
if 'ten' in list2:
    print('yes ten is there in list1')

else:
    print('no ten is not there in list2')

yes ten is there in list1

In [56]:
if 'four' in list3:
    print('yes four is there in list3')

else:
    print('no four is not there in list3')

yes four is there in list3

In [57]:
if 'eleven' in list3:
    print('yes eleven is there in list3')

else:
    print('no eleven is not there in list3')

no eleven is not there in list3

In [62]:
#reverse and sort list

list1.reverse()
print(list1)
list2.reverse()
list3.reverse()
print(list2)
print(list3)
list1 = list1[::-1] #this is one method of sorting
print(list1)
mylist3 = [4,99,23,6,87,147]
print(mylist3)
mylist3.reverse()
print(mylist3)
mylist3.sort()
print(mylist3)

['five', 'four', 'three', 'two', 'one']
['six', 'seven', 'eight', 'nine', 'ten']
['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']
['one', 'two', 'three', 'four', 'five']
[4, 99, 23, 6, 87, 147]
[147, 87, 6, 23, 99, 4]
[4, 6, 23, 87, 99, 147]

In [63]:
#loop through a list

for (i) in list1:
    print(i)

one
two
three
four
five

In [65]:
for (i) in enumerate(list1):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')

In [67]:
list1.count('one')

1

In [68]:
list1.count('two')

1

In [69]:
list1.count('three')

1

In [70]:
list1.count('four')

1

In [71]:
list1.count('ten')

0

In [72]:
list1.count('nine hundred')

0

In [73]:
list1.count('five')

1

In [78]:
#all any
print(all(list1))
print(all(list2))
print(all(list3))
l2 = [True]
print(all(l2))
l3 = [False]
print(all(l3))

True
True
True
True
False